html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    color: white;
}

.col-md-6{
    width: auto;
}

.containerHero {
    background-color: #222;
    border: 2px solid #603FEF;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

    .containerHero h2 {
        color: #603FEF;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

.containerTop{
    display: flex;
    justify-content: space-between;
}

.containerBiography {
    margin-bottom: 30px;
}

    .containerBiography h3 {
        color: #603FEF;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .containerBiography p {
        margin: 5px 0;
    }

    .containerBiography h4 {
        color: #603FEF;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .containerBiography ul {
        padding-left: 20px;
        margin-top: 0;
    }

    .containerBiography li {
        margin-bottom: 5px;
    }


.containerRightSide{
    display: flex;
    flex-direction: row-reverse;
}

.containerAppearence {
    text-align: right;
    padding: 20px;
}

    .containerAppearence h4 {
        color: #603FEF;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .containerAppearence p {
        margin-bottom: 5px;
    }

.CointainerPowerstats {
    width: auto;
}

    .CointainerPowerstats h3 {
        color: #603FEF;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .CointainerPowerstats ul {
        padding-left: 20px;
        margin-top: 0;
    }

    .CointainerPowerstats li {
        margin-bottom: 5px;
    }

.progress-bar {
    border: 1px solid black;
}

.progress
{
    width: 500px;
}

footer {
    color: #603FEF;
}