@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-4">
			<a class="btn btn-primary" asp-controller="Compare" asp-action="Index">Compare</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-primary" asp-controller="" asp-action="">Allignment</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-primary" asp-controller="Hero" asp-action="Search">Search hero</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-primary" asp-controller="ComicVine" asp-action="Movie">Search Movie</a>
		</div>
	</div>
</div>


