@model Comic_Api.Models.SuperHeroMovies

<div class="container">
	<h1>Search the wanted movie</h1>
	<div class="row">
		<div class="col-md-6">
			<form asp-controller="ComicVine" asp-action="Movie" method="post">
				<div class="form-group">
					<label class="mb-3" for="SuperheroMovie">Enter the supheromovie's name that you want to search for.</label>
					<input name="MovieName" type="text" class="form-control  mb-3" id="SuperheroMovie" placeholder="Example: Batman">
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
	</div>
	@if (@Model != null)
	{

		if (!@Model._response.error.Equals("NotFound"))
			{
				<div>
				<h2>@Model._response.results.movie.name</h2>
				<p><strong>Box office revenue:</strong> @Model._response.results.movie.box_office_revenue</p>
				<p><strong>Rating:</strong> @Model._response.results.movie.rating</p>
				<p><strong>Description:</strong> @Model._response.results.movie.description</p>
				</div>
			}
			else
			{
				<p><strong>Movie not found</strong></p>
			}
		
	}
</div>