@model string
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<a class="btn btn-secondary mb-3" asp-action="SignUp">Create Account</a>
<form asp-action="Index" method="post">
	<div class="mb-3">
		<label for="email" class="form-label">Email:</label>
		<input type="email" class="form-control" id="email" name="email" required>
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password:</label>
		<input type="password" class="form-control" id="password" name="password" required>
	</div>
	@if(Model != "")
	{
		<p class="text-danger">@Model</p>
	}
	<input type="submit" class="btn btn-primary" value="Login">
</form>