@model Comic_Api.Models.DB.User

<h2>Create an Account</h2>

<form asp-action="SignUp" method="post">
	<div class="mb-3">
		<label for="firstName" class="form-label">First Name:</label>
		<input type="text" class="form-control" id="firstName" name="FirstName" required>
	</div>
	<div class="mb-3">
		<label for="lastName" class="form-label">Last Name:</label>
		<input type="text" class="form-control" id="lastName" name="LastName" required>
	</div>
	<div class="mb-3">
		<label for="email" class="form-label">Email:</label>
		<input type="email" class="form-control" id="email" name="Email" required>
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password:</label>
		<input type="password" class="form-control" id="password" name="Password" required>
	</div>

	@if (ViewBag.Error != null)
	{
		<p class="Verkeerd">@ViewBag.Error</p>
	}
	<input type="submit" class="btn btn-primary" value="Create Account">
	
</form>